:host {
    display: flex;
    flex-direction: column;
}

mat-spinner {
    margin: auto;
}

.actions-fabs {
    margin-top: 10px;
}

.bouncing {
    overflow: visible !important;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    50% {
        transform: translateX(-75%)
    }
}