:host {
    display: flex;
    flex-direction: column;
}

mat-spinner {
    margin: auto;
}

.bouncing {
    overflow: visible !important;
    animation-name: bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    50% {
        transform: translateX(-75%)
    }
}