<h1 mat-dialog-title>Add/Edit proxy</h1>
<mat-form-field>
  <input matInput #proxyName [value]="data.name">
  <mat-placeholder>
    <mat-icon>edit</mat-icon>Proxy name</mat-placeholder>
</mat-form-field>
<mat-form-field>
  <input matInput #proxyURL [value]="data.fromUrl">
  <mat-placeholder>
    <mat-icon>link</mat-icon>Proxy from</mat-placeholder>
</mat-form-field>
<mat-form-field>
  <input matInput #proxyURL [value]="data.toUrl">
  <mat-placeholder>
    <mat-icon>link</mat-icon>Proxy to</mat-placeholder>
</mat-form-field>
<mat-form-field>
  <mat-select #proxyIcon placeholder="Proxy icon" [(value)]="data.icon">
    <mat-select-trigger>
      <mat-icon>{{ data.icon }}</mat-icon>
    </mat-select-trigger>
    <mat-option *ngFor="let icon of icons" [value]="icon.value">
      <mat-icon>{{ icon.name }}</mat-icon>
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <input matInput type="number" #proxyRank [value]="!!data.rank ? data.rank : 0">
  <mat-placeholder>
    <mat-icon>sort</mat-icon>Proxy display rank</mat-placeholder>
</mat-form-field>
<button mat-raised-button color="primary" (click)="dialogRef.close({
      name: proxyName.value,
      url: proxyURL.value,
      customHeader: proxyCustomHeader.value,
      icon: proxyIcon.value,
      rank: proxyRank.value
    })">Save</button>
<button mat-raised-button (click)="dialogRef.close()">Close dialog</button>