<!-- display mode -->
<div class="main-content" *ngIf="!data.editMode">
    <object *ngIf="data.fileType==='other'" [data]="data.url"></object>
    <img *ngIf="data.fileType==='image'" [src]="data.url" alt="Previewed image">
    <audio *ngIf="data.fileType==='audio'" controls autoplay>
        <source [src]="data.url">
    </audio>
    <video *ngIf="data.fileType==='video'" controls autoplay>
        <source [src]="data.url">
    </video>
    <mat-form-field *ngIf="data.fileType === 'text'">
        <textarea matInput [value]="data.content"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button (click)="dialogRef.close()">Close dialog</button>
        <button mat-mini-fab color="primary" (click)="dialogRef.close({value: -1})"><mat-icon>navigate_before</mat-icon></button>
        <button mat-mini-fab color="primary" (click)="dialogRef.close({value: 1})"><mat-icon>navigate_next</mat-icon></button>
    </div>
</div>

<!-- edit mode -->
<div class="main-content" *ngIf="data.fileType==='text' && data.editMode">
    <mat-form-field>
        <textarea matInput #fileContent [value]="data.content"></textarea>
    </mat-form-field>
    <div class="buttons">
        <button mat-raised-button color="primary" (click)="dialogRef.close({
            content: fileContent.value
            })">Save</button>
        <button mat-raised-button (click)="dialogRef.close()">Close dialog</button>
    </div>
</div>