<div class="vertical-flex-container" [@appear]>
        <mat-expansion-panel *ngFor="let app of apps | iframed:true" class="nopadding">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>{{app.icon}}</mat-icon>
                    {{app.name}}
                </mat-panel-title>
                <a mat-icon-button appClickStopPropagation [href]="app.completeUrl">
                    <mat-icon>fullscreen</mat-icon>
                </a>
                <button mat-icon-button appClickStopPropagation (click)="edit(app);" *appShowToRoles="['admin']">
                    <mat-icon>edit_content</mat-icon>
                </button>
                <button mat-icon-button appClickStopPropagation (click)="delete(app);" *appShowToRoles="['admin']">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>
                <iframe [id]="app.name" [src]="app.completeUrl" [title]="app.name"></iframe>
            </ng-template>
        </mat-expansion-panel>
    
        <mat-card>
            <button mat-mini-fab (click)="add()" *appShowToRoles="['admin']">
                <mat-icon>add_circle</mat-icon>
            </button>
            <span *ngFor="let app of apps | iframed:false">
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>{{app.icon}}</mat-icon>{{app.name}}
                </button>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item [href]="app.completeUrl">
                        <mat-icon>fullscreen</mat-icon>
                        <span>Show fullscreen</span>
                    </a>
                    <button mat-menu-item appClickStopPropagation (click)="edit(app);" *appShowToRoles="['admin']">
                        <mat-icon>edit_content</mat-icon>
                        <span>Edit</span>
                    </button>
                    <button mat-menu-item appClickStopPropagation (click)="delete(app);" *appShowToRoles="['admin']">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                    </button>
                </mat-menu>
            </span>
        </mat-card>
    </div>