.main-content {
    padding: 20px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-toolbar {
    background: #303030;
    color: white;
}

.main-logo {
    margin-right: 5px;
}

mat-sidenav {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.version {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.version button {
    margin-left: 10px;
}

.mat-nav-list .mat-list-item-focus {
    background: none;
}

.mat-nav-list mat-icon {
    margin-right: 10px;
}

.active-link {
    background: #0d47a1 !important;
    color: white;
}

.mat-drawer-container {
    background: transparent;
}

.mat-menu-item span {
    vertical-align: middle;
}