<div class="vertical-container"  [@appear]>
  <mat-card>
    <form role="form" (submit)="login()">
      <mat-form-field>
        <input matInput type="text" required [(ngModel)]="user.login" id="login" name="login">
        <mat-placeholder>
          <mat-icon>account_circle</mat-icon>Login</mat-placeholder>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" required [(ngModel)]="user.password" id="password" name="password">
        <mat-placeholder>
          <mat-icon>vpn_key</mat-icon>Password</mat-placeholder>
      </mat-form-field>
      <button mat-fab color="primary" type="submit" name="action" *ngIf="!loginInProgressOrLogged" [@appear]>
        <mat-icon>lock_open</mat-icon>
      </button>
      <mat-spinner *ngIf="loginInProgressOrLogged" [diameter]="56"></mat-spinner>
    </form>
  </mat-card>
</div>
