<div class="vertical-flex-container" [@appear]>
    <mat-expansion-panel *ngFor="let proxy of proxys" class="nopadding">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>{{proxy.icon}}</mat-icon>
                {{proxy.name}}
            </mat-panel-title>
            <button mat-icon-button appClickStopPropagation (click)="refresh(proxy);">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button appClickStopPropagation (click)="edit(proxy);">
                <mat-icon>edit_content</mat-icon>
            </button>
            <button mat-icon-button appClickStopPropagation (click)="delete(proxy);">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <iframe [id]="proxy.name" [src]="proxy.completeUrl" [title]="proxy.name"></iframe>
        </ng-template>
    </mat-expansion-panel>

    <mat-card>
        <button mat-mini-fab (click)="add()">
            <mat-icon>add_circle</mat-icon>
        </button>
    </mat-card>
</div>