/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    overscroll-behavior-y: contain;
}

.mat-card {
    padding: 12px !important;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nopadding .mat-expansion-panel-body {
    padding: 0px;
}

.mat-option-text {
    display: flex !important;
    align-items: center !important;
}

.vertical-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

.horizontal-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: line;
}

mat-expansion-panel {
    width: 100%;
    margin-bottom: 10px !important;
}

.mat-raised-button,
mat-form-field {
    margin: 0px 5px 0px 5px !important;
}

.mat-mini-fab {
    margin: 5px !important;
}

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
}

.load-spinner {
    margin-top: auto;
    margin-bottom: auto;
    filter: drop-shadow( 0px 0px 5px white);
}

router-outlet~* {
    position: absolute;
    top: 84px;
    height: calc(100% - 84px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-toolbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.mat-dialog-container {
    min-width: 300px;
}