<div class="vertical-flex-container" [@appear]>
    <mat-expansion-panel *ngFor="let filesacl of filesacls">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{filesacl.name}}
            </mat-panel-title>
            <mat-panel-title>
                {{filesacl.currentPath}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-explorer [name]="filesacl.name" [permissions]="filesacl.permissions" [basePath]="'/'+filesacl.path" (CurrentPathChanged)="currentPathChanged($event)"></app-explorer>
        </ng-template>
    </mat-expansion-panel>
</div>