<mat-spinner *ngIf="loading" [diameter]="56" class="load-spinner"></mat-spinner>
<div *ngIf="!loading" class="vertical-container">
    <mat-expansion-panel *ngFor="let filesacl of filesacls" (mouseenter)="!filesacl.displayedPath() ? refreshDiskUsage() : ''">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{filesacl.name}}
            </mat-panel-title>
            <mat-panel-description *ngIf="!filesacl.displayedPath()" [@appear]>
                <mat-progress-bar mode="determinate" [color]="filesacl.Color()" [value]="filesacl.PercentFull()"></mat-progress-bar>
                {{filesacl.usedgb}} / {{filesacl.totalgb}} GB
            </mat-panel-description>
            <mat-panel-description *ngIf="filesacl.displayedPath()" #path [innerHTML]="filesacl.displayedPath() | keepHtml" [@appear]>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-explorer [name]="filesacl.name" [permissions]="filesacl.permissions" [basePath]="filesacl.basePath()"
                [currentPath]="filesacl.currentPath" (CurrentPathChanged)="currentPathChanged($event)"></app-explorer>
        </ng-template>
    </mat-expansion-panel>
</div>